@media (min-width: 320px) {
  .projects-page {
    width: 70%; }
  .projects-page > * {
    flex-basis: 100%; }
  .img-container {
    height: 18em; } }

@media (min-width: 1024px) {
  .projects-page {
    width: 80%; }
  .projects-page > * {
    flex-basis: 40%; }
  .img-container {
    height: 14em; } }

.projects-page {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .projects-page > * {
    margin-top: 3em; }
  .projects-page img {
    display: block;
    width: 100%;
    vertical-align: middle; }
  .projects-page .img-container {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px;
    z-index: 1;
    background-color: white; }
  .projects-page .project {
    box-shadow: 0 0 10px 5px;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: #eeeeee;
    position: relative;
    /* button with "absolute" can be positioned */
    opacity: 0;
    animation: project-appear;
    animation-duration: 0.9s;
    animation-fill-mode: forwards; }

@keyframes project-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
  .projects-page .project:nth-of-type(1) {
    animation-delay: 0.5s; }
  .projects-page .project:nth-of-type(2) {
    animation-delay: 1s; }
  .projects-page .project:nth-of-type(3) {
    animation-delay: 1.5s; }
  .projects-page h2 {
    padding: 1rem; }
  .projects-page p {
    padding: 0 1em 1em 1em; }
  .projects-page a {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    color: var(--secondary-color-darker);
    background-color: var(--main-color);
    text-decoration: none;
    position: absolute;
    /* will always be on the bottom right no matter the height of the boxes */
    bottom: 5%;
    right: 5%;
    transition: color 0.5s, background-color 0.5s; }
  .projects-page a:hover {
    background-color: var(--main-color-darker);
    color: var(--secondary-color); }
  .projects-page .button-container {
    /* only job is to stretch the section, so that there is room for the button*/
    height: 4em; }
