@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

:root {
    --color-background-secondary: rgb(45, 80, 130);
    --color-text-secondary: white;
    --color-orange: rgb(199, 44, 33);

    --font-family-main: 'Verdana', sans-serif;;
    --font-family-heading: 'Raleway', sans-serif;

    --education-box-width: 25em;
    --education-box-height: calc(var(--education-box-width) - 10em);
    --education-section-width: calc(var(--education-box-width) * 2);
}