@media (max-width: 480px) {
  .certificates-page {
    width: 90%;

    $main-view-height: 50vh;

    .img-container {
      flex-basis: 100%;
      width: 100%;
      height: $main-view-height;
    }

    .certificates-aside {
      flex-basis: 100%;
      height: $main-view-height - 18vh;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 480px) {
  .certificates-page {
    width: 80%;

    $main-view-height: 80vh;

    .img-container {
      flex-basis: 60%;
      height: $main-view-height;
    }

    .certificates-aside {
      flex-basis: 30%;
      height: $main-view-height;
    }
  }
}

.certificates-page {
  $hover-background: rgb(150, 150, 150);
  $selected-background: rgb(200, 200, 200);
  $img-effect-duration: 0.65s;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; // for the h1 so that the other elements go to a new row.

  h1 {
    flex-basis: 100%; //take up entire flex row
    text-align: center;
  }

  .img-container {
    display: inline-block;
    overflow: auto; // do not allow the image inside to be visible outside the container when it gets moved with "translate". Also add scroll if img height is cropped
    position: relative; // img absolute position will position itself inside nearest relative positioned element
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute; // do not disrupt other elements positions when being moved
    transition: opacity $img-effect-duration + (0.25 * $img-effect-duration), transform $img-effect-duration + (0.25 * $img-effect-duration); //time it takes to fade out, a.k.a. when loosing "effect" class
    opacity: 0; // all images are initially invisible. Only the one with "effect" class will be seen
    transform: translateX(-100%); // all images initially are their own width to the left
  }

  .effect {
    opacity: 1; // appear
    transform: translateX(0); // go to your original position - inside the container
    transition: opacity $img-effect-duration $img-effect-duration, transform $img-effect-duration $img-effect-duration; //time it takes to appear, a.k.a. when getting "effect" class, and how much to wait before activating appear animation
  }

  .certificates-aside {
    background-color: rgb(230, 230, 230);
    padding: 0.5rem;
    overflow: auto;

    h2 {
      margin-bottom: 1em;
    }

    ul {
      list-style: none;
    }

    li {
      padding: 0.5em 0.5em;
    }

    li:hover {
      background-color: $hover-background;
      cursor: pointer;
    }

    .selected {
      background-color: $selected-background;
    }
  }
}

