:root {
  --size: 3rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(50, 50, 50);
  color: rgb(210, 210, 210);

  .about-me-image-container {
    margin: 0 auto;
    width: 8rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  p {
    max-width: 35em;
  }
}

.about-me-social {
  width: 100%;
  display: grid;
  grid-template-areas:
          'heading heading'
          'email email'
          'github linkedin';
  color: orange;
  justify-content: center;

  input, button {
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    width: auto !important;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
  }

  input {
    margin-left: 1em;
    text-shadow: inherit;
    width: 16em !important;
  }

  button {
    //transition: color 0.5s;
    transition: box-shadow 1s;
  }

  button:hover {
    //color: rgb(220, 130, 0);
    box-shadow: 0 0.2em;
  }

  > h2 {
    grid-area: heading;
    text-align: center;
  }

  .email {
    grid-area: email;
    text-align: center;

    i {
      font-size: 1.5rem !important;
    }

    p {
      display: inline-block;
      margin-left: 1.1em;
    }
  }

 .github {
   grid-area: github;
 }

  .linkedin {
    grid-area: linkedin;
  }

  .github, .linkedin {
    margin: 2rem;
    position: relative;
    height: var(--size);
    width: var(--size);
  }

  i {
    font-size: var(--size) !important;
    transition: font-size 0.5s;
  }

  a:hover i{
    font-size: calc(var(--size) + 1rem) !important;
  }

  a {
    position: absolute;
    text-decoration: none;
    color: inherit;
  }
}