_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

node_modules

.idea
*.yml



test-gif.html
test-projects.html
test-slider.html

pixel-art-css.html
pixel-art.html
pixel-art-css.scss
pixel-art-css.css
pixel-art-html.scss
pixel-art-html.css