<header>
    {%- if {{site.baseurl}} -%}
        {%- capture url_start -%}/{{site.baseurl}}{%- endcapture -%}
    {%- endif -%}

    <nav class="navbar">
        <ul>
            <li>
                <a class="{% if page.permalink == '/' %}selected{% endif %}" href="{{url_start}}/">About Me</a>
            </li>
            <li>
                <a class="{% if page.permalink == '/certificates' %}selected{% endif %}" href="{{url_start}}/certificates">Certificates</a>
            </li>
            <li>
                <a class="{% if page.permalink == '/projects' %}selected{% endif %}" href="{{url_start}}/projects">Projects</a>
            </li>
        </ul>
    </nav>
</header>