:root {
  --hover-background: rgb(150, 150, 150);
  --selected-background: rgb(200, 200, 200);
  --img-effect-duration: 0.65s;
  --main-view-height: 80vh; }

.certificates-page {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .certificates-page h1 {
    text-align: center;
    flex-basis: 100%; }
  .certificates-page .img-container {
    display: inline-block;
    flex-basis: 60%;
    height: var(--main-view-height);
    overflow: auto;
    position: relative; }
  .certificates-page img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    transition: opacity calc(var(--img-effect-duration) + 0.25 * (var(--img-effect-duration))), transform calc(var(--img-effect-duration) + 0.25 * (var(--img-effect-duration)));
    opacity: 0;
    transform: translateX(-100%);
    z-index: -1; }
  .certificates-page .effect {
    opacity: 1;
    transform: translateX(0);
    transition: opacity var(--img-effect-duration) var(--img-effect-duration), transform var(--img-effect-duration) var(--img-effect-duration);
    z-index: 1; }

.certificates-aside {
  flex-basis: 30%;
  background-color: #e6e6e6;
  padding: 0.5rem;
  height: var(--main-view-height);
  overflow: auto; }
  .certificates-aside h2 {
    margin-bottom: 1em; }
  .certificates-aside ul {
    list-style: none; }
  .certificates-aside li {
    padding: 0.5em 0.5em; }
  .certificates-aside li:hover {
    background-color: var(--hover-background);
    cursor: pointer; }
  .certificates-aside .selected {
    background-color: var(--selected-background); }
