:root {
  --social-icon-size: 3rem;
  --education-box-width: 25rem;
  --education-box-height: calc(var(--education-box-width) - 10rem);
  --education-section-width: calc(var(--education-box-width) * 2);
  --education-box-slide-time: 0.5s;
  --timeline-line-position: 30%;
  --timeline-line-width: 0.3em;
  --timeline-distance-to-line: 3%; }

img {
  display: block;
  width: 100%; }

.about-me {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  color: #d2d2d2; }
  .about-me .about-me-image-container {
    margin: 0 auto;
    width: 8rem;
    border-radius: 50%;
    overflow: hidden; }
  .about-me p {
    max-width: 35em; }

.about-me-social {
  width: 100%;
  display: grid;
  grid-template-areas: 'heading heading' 'email email' 'github linkedin';
  color: orange;
  justify-content: center; }
  .about-me-social > h2 {
    grid-area: heading;
    text-align: center; }
  .about-me-social .email {
    grid-area: email;
    text-align: center;
    position: relative; }
    .about-me-social .email input, .about-me-social .email button {
      border: none;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
      width: auto !important;
      background-color: inherit;
      color: inherit;
      cursor: pointer; }
    .about-me-social .email input {
      margin-left: 1em;
      width: 16em !important; }
    .about-me-social .email button {
      transition: box-shadow 1s; }
    .about-me-social .email button:hover {
      box-shadow: 0 0.2em; }
    .about-me-social .email i {
      font-size: 1.5rem !important; }
    .about-me-social .email p {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 20em;
      transition: opacity 0.75s; }
  .about-me-social .github {
    grid-area: github; }
  .about-me-social .linkedin {
    grid-area: linkedin; }
  .about-me-social .github, .about-me-social .linkedin {
    margin: 2rem;
    position: relative;
    height: var(--social-icon-size);
    width: var(--social-icon-size); }
  .about-me-social i {
    font-size: var(--social-icon-size) !important;
    transition: font-size 0.5s; }
  .about-me-social a {
    position: absolute;
    text-decoration: none;
    color: inherit; }
  .about-me-social a:hover i {
    font-size: calc(var(--social-icon-size) + 1rem) !important; }

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .education-section > * {
    margin-top: 3em; }
  .education-section .education-softuni {
    background-image: url(../images/softuni-me.jpg); }
  .education-section .education-tu {
    background-image: url(../images/tu.jpg); }
  .education-section .education-box {
    width: var(--education-box-width);
    height: var(--education-box-height);
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform var(--education-box-slide-time); }
  .education-section .education-box:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(110, 110, 110, 0.6); }
  .education-section h3 {
    color: white;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%; }
  .education-section > section {
    width: var(--education-section-width);
    text-align: center;
    position: relative; }
  .education-section > section:hover div {
    transform: translateX(-50%); }
  .education-section p.education-information {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 55%;
    width: 45%;
    transition: opacity 0.2s;
    text-align: left; }
  .education-section > section:hover p {
    /* TODO hover won't work on phones (I think). Check this link for more: https://stackoverflow.com/questions/41098293/equivalent-to-hover-for-mobile-aps*/
    opacity: 100%;
    transition: opacity var(--education-box-slide-time) 0.5s; }

.timeline {
  margin: 0 auto;
  width: 75%;
  /* line container */
  /* line */
  /* has only 2 things in it. And there will be room between them */
  /* circles on the line for every event */ }
  .timeline .timeline-container {
    position: relative;
    margin: 0 auto; }
  .timeline .timeline-container::after {
    content: ' ';
    position: absolute;
    width: var(--timeline-line-width);
    height: 100%;
    background-color: black;
    top: 0;
    left: var(--timeline-line-position); }
  .timeline .timeline-point {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    position: relative;
    transition: color 0.5s; }
  .timeline .timeline-point:before {
    content: ' ';
    display: block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: var(--timeline-line-position);
    /* places it close to the line */
    /* move half the width of the line to the right and half of your own width to the left. This way it is perfectly centered
    also move 40% of your height to the top. Looks centered*/
    transform: translate(calc((0.5 * var(--timeline-line-width)) - 50%), -40%);
    top: 0.5em; }
  .timeline .timeline-point:hover {
    color: darkblue; }
  .timeline time {
    text-align: right;
    flex-basis: calc(var(--timeline-line-position) - var(--timeline-distance-to-line));
    /* on the left of the line and leave some room for the "space-between" to take effect and make it look nice */ }
  .timeline .content {
    text-align: left;
    flex-basis: calc(100% - var(--timeline-line-position) - var(--timeline-distance-to-line));
    /* on the right of the line */ }
  .timeline h2 {
    text-align: center; }
  .timeline h3 {
    margin-top: 0;
    margin-bottom: 1em; }
  .timeline p {
    max-width: 25em; }
