.navbar {
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  display: flex; }
  .navbar ul {
    flex-basis: 75%;
    display: flex;
    list-style: none; }
  .navbar li {
    padding: 0.5em 0.75em;
    display: inline-block;
    transition: background-color 0.5s; }
  .navbar a {
    display: block;
    text-decoration: none;
    color: inherit; }
  .navbar li:hover {
    background-color: #0096e6; }
  .navbar .selected {
    background-color: #0096e6; }
