<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="./css/common-styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

{% include header.html %}
<main class="index-main">
    <section class="about-me">
        <header>
            <div class="about-me-image-container">
                <img src="./images/me2.jpg">
            </div>
            <h1>{{page.header-title}}</h1>
            <p>Hello, my name is Aleksandar and I study programming. I live in Sofia, Bulgaria and my interests are primarily in back-end development with Java. I am also interested in web programming and web technologies.</p>
        </header>
    </section>

    <section class="education-section">
        <section>
            <div class="education-box education-softuni">
                <h3>Software University</h3>
            </div>
            <p class="education-information">The software university is a place to learn software development with an emphasis on exercise and practise.</p>
        </section>

        <section>
            <div class="education-box education-tu">
                <h3>Technical University</h3>
            </div>
            <p class="education-information">Technical University of Sofia is one of the most recognised educational establishments in the country.</p>
        </section>
    </section>

    <section class="timeline">
        <h2>My Software Development Timeline</h2>
        <div class="timeline-container">
            {%- for event in site.data.timeline -%}
            <section class="timeline-point">
                <time>{{event.date}}</time>
                <div class="content">
                    <h3>{{event.title}}</h3>
                    <p>{{event.description}}</p>
                </div>
            </section>
            {%- endfor -%}
        </div>
    </section>
</main>

{%- include footer.html -%}
</body>
</html>